<p-card header="{{'label.list-playlist' | translate}}">
    
    <p-table
        [value]="playlists"
        [rows]="5"
        responsiveLayout="scroll"
        [paginator]="true"
        [lazy]="true"
        (onLazyLoad)="fetchAllPlaylist()"
        
    >
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">{{'label.name' | translate}}</th>
                <th class="text-center">{{'label.description' | translate}}</th>
                <th class="text-center">{{'label.actions' | translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-playlist>
            <tr>
                <td class="col-1 text-center">
                    {{ playlist.name }}
                </td>
                <td class="col-1 text-center">
                    {{ playlist.description }}
                </td>
                <td class="col-1 text-center">
                    <button 
                        pButton 
                        label="{{'button.detail' | translate}}"
                        icon="pi pi-check"
                    >
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">
                <div class="p-3 surface-200 w-full text-center">
                    <b>
                    {{'message.no-records' | translate}}
                    </b>
                </div>
                </td>
            </tr>
        </ng-template>
  </p-table>
</p-card>