/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

.required:after {
    content: "*";
    color: red;
}

body {
    font-family: 'Roboto', sans-serif;
}

.danger {
    border: 1px solid red !important;
    color: red !important;
}

.p-button {
    font-size: 12px !important; 
    padding: 6px 12px !important;
    height: 30px !important;
}

.p-inputtext {
    font-size: 12px;
    padding: 6px; 
    height: 30px; 
}

.p-table {
    font-size: 12px; 
}

.p-table th, .p-table td {
    padding: 4px 8px; 
}



.no-records {
    background-color: rgba(185, 185, 185, 0.336);
    font-size: 20px;
    display: block;
    padding: .7rem;
}